@import "../../../../vendor/filament/filament/resources/css/theme.css";

@import "@fortawesome/fontawesome-free/css/all.min.css";

@plugin "daisyui";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@import "../../../../vendor/malzariey/filament-daterangepicker-filter/resources/css/filament-daterangepicker.css";
@source '../../../../vendor/malzariey/filament-daterangepicker-filter/resource**';

@media print {
    body * {
        visibility: hidden;
    }

    .no-print {
        visibility: hidden;
    }

    #report-content,
    #report-content * {
        visibility: visible;
    }

    #report-content {
        position: absolute;
        left: 0;
        top: 0;

        width: 100%;
        margin: 1px;
        padding: 0;
        border: none;
        box-shadow: none;
    }
}
